.nav{
    grid-area: n;
    background-color:  rgb(119, 120, 133);
    padding: 20px;
     
    
    }

.item a{
    color: white;
    text-decoration: none;
    

    }
      
  .item .activeLink{
    color: gold;
  }